/* Header */
#header-nav{
	background-color: lightgray;
	border-radius: 0;
	border: 0;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-brand a:link{
	text-decoration: none;
}
.navbar-brand  span{
	color: black;
}
.navbar-nav li{
  	color: black;
    border: 1px solid black;
    text-align: center;
  }

/* End Header */

/* Home page */
   
  .row{
   	width: 100%;
   }

  .section{
  	height: 700px;
  	background-color: lightgray;
  	margin-bottom: 30px;
  	padding: 15px;
  }

  #home-page h1{
  	margin-top: 5px;
  	margin-bottom: 30px;
  }
  /* end home page */

  /* for large device */
  @media(min-width: 992px) and {max-width: 1192px}{


 }

 /* for medium device */
  @media (max-width: 991px) and (min-width: 768px){
  
  }

   /* for small device */
  	 @media(max-width: 767px){
   #home-page, .containeflor{
   	margin-left: 40px;
   	margin-right: 40px;
   }
   .navbar-collapse{
 	background: white;
 }
   }

   /* for extra small device */
   @media(max-width: 360px){
  	h1{
  		font-size: 1.4em;
  	}
  	 #home-page, .container{
   	margin-left: auto;
   	margin-right: auto;
   }
 }
