/* Header */
#header-nav{
	background-color: lightgray;
	border-radius: 0;
	border: 0;
}
.navbar-brand a:link{
	text-decoration: none;
}
.navbar-brand  span{
	color: black;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
   /* End Header */

  section{
  	width: 100%;
  	height: 1000px;
  	background-color: lightgray;
  	
  }

 .navbar-nav li{
  	color: black;
    border: 1px solid black;
    text-align: center;
  }
   #home-page h1{
  	margin-top: 5px;
  	margin-bottom: 30px;
  }

  @media (max-width: 767px){
   #home-page, .container{
   	margin-left: 40px;
   	margin-right: 40px;
   }
   .navbar-collapse{
 	background: white;
 }
  
  }
  @media(max-width: 360px){
  	h1{
  		font-size: 1.4em;
  	}
  	 #home-page, .container{
   	margin-left: 30px;
   	margin-right: 30px;
   }
 }